@import "https://fonts.googleapis.com/css2?family=Inter&display=swap";
$background-color: #070d18;
$font-family: Inter;
$color-back: #b9b9c8;
$font-size-14: 14px;
$color: #ffffff;
* {
  background-color: black;
  width: auto;
}
.page {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(11em, auto));
  grid-template-rows: repeat(auto-fit, minmax(1em, auto));
  grid-template-areas:
    "header header header header header header header "
    "back back back back back back back "
    "info info info info gap upload upload"
    "detail detail detail detail detail detail detail"
    "nav nav nav nav nav nav nav"
    "content content content content content content content";

  padding: 0em 3em 1em 2.5em;
}
