@import "https://fonts.googleapis.com/css2?family=Inter&display=swap";
$background-color: #070d18;
$font-family: Inter;
$color-back: #b9b9c8;
$font-size-14: 14px;
$color: #ffffff;
:host {
  grid-area: header;
}

.header {
  display: flex;
  flex-direction: row;
}

.header > div:nth-of-type(1) {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  img {
    height: 2em;
    width: auto;
  }
  p {
    font-family: $font-family;
    font-size: 22px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
    padding-left: 0.5em;
  }
}

.header > div:nth-of-type(2) {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-left: auto;
  color: #85859b;
  p {
    font-family: Inter;
    font-size: 13px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: right;
    color: #85859b;
    padding-right: 0.5em;
  }

  .espnlogo {
    width: 58px;
    height: 26px;
    border-radius: 5px;
    align-self: center;
    justify-self: end;
  }
  .down-arrow {
    width: 12px;
    height: 6px;
  }
}

.back-wrapper {
  grid-area: back;
  display: flex;
  color: #85859b;
  padding-top: 0em;
}
.back-wrapper p {
  font-family: $font-family;
  font-size: $font-size-14;
  color: $color-back;
  padding-left: 0.5em;
}
