<div class="header">
  <div class="logo">
    <img src="./assets/img/edisn-icon.svg" class="edisnlogo" />
    <p>Edisn</p>
  </div>
  <!-- <div class="edisn">Edisn</div> -->
  <div class="espn-wrapper">
    <p>Hello ESPN! &nbsp;&nbsp;</p>
    <!-- <div class="e2"> -->
    <img src="./assets/img/espn-logo.png" class="espnlogo" />
    &nbsp;&nbsp;
    <!-- <div class="e3"> -->
    <img src="./assets/img/vector.png" class="down-arrow" />
    <!-- </div> -->
  </div>
</div>
<div class="back-wrapper">
  <img src="./assets/img/Group 1287.svg" />&nbsp;&nbsp;

  <p>Back</p>
</div>
