<div class="content-wrapper">
  <!-- <div class="add-player"> -->
  <img src="./assets/img/Group 1375.svg" class="group-1375" />
  <h3>Get Started By Adding Teams & Players To The Tournament</h3>
  <p>
    To create events, add teams taking part in this tournament by clicking the
    “Add teams” button below and add players to these teams. Teams can be
    removed from the tournament if the team has not yet taken part in any of the
    events
  </p>
  <div id="addBtn" (click)="addTeam()">
    <img src="./assets/img/Group 1240.png" alt="" srcset="" />

    <p>Add Teams</p>
  </div>
  <!-- </div> -->
</div>

<!-- <div class="mask"></div> -->
<app-modal [show]="show"></app-modal>
