@import "https://fonts.googleapis.com/css2?family=Inter&display=swap";
$background-color: #070d18;
$font-family: Inter;
$color-back: #b9b9c8;
$font-size-14: 14px;
$color: #ffffff;
:host {
  grid-area: content;
}
.content-wrapper {
  padding: 2em 12em 1em;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #0e192d;
  grid-area: content;
  border-radius: 5px;
  font-family: $font-family;
  h3 {
    color: $color;
    font-size: 16px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
  }
  p {
    color: #85859b;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.4;
    letter-spacing: normal;
    text-align: center;
  }
  div {
    margin-top: 1em;
    justify-content: space-around;
    display: flex;
    background-color: rgba(93, 219, 238, 0.1);
    border-radius: 5px;
    padding: 0em 1em 0em 1em;
    img {
      align-self: center;
      width: 1.5em;
      height: 1.5em;
      cursor: pointer;
    }
    p {
      padding-left: 0.5em;
      color: #5ddbee;
      font-size: 14px;
      font-weight: 500;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: left;
      cursor: pointer;
    }
  }
}
