<div class="contents">
  <div class="content1">Cricket</div>
  <div class="content2">
    <span>Indian Premier League 2020</span>
  </div>
  <div class="group">
    <img src="./assets/img/Group 1258.svg" />
  </div>
  <div class="content3">
    <span>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc nec purus
      porttitor, faucibus velit eu, fermentum purus. Phasellus dolor nunc,
      feugiat non elementum at, sagittis at erat. Vestibulum vitae...
    </span>
    <span style="color: #5ddbee">Read More</span>
  </div>
</div>
